.button, button {
  display: block;
  width: 100px;
  height: 40px;
  border: 0;
  border-radius: 7px;
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  font-size: 1em;
  cursor: pointer;
  text-transform: capitalize;
}

.button:focus, button:focus {
  transition: .3s;
  border: 2px solid #ffd900;
}

.button--primary {
  background-color: #00FF00;
}

.button--primary:hover {
  transition: .3s;
  background-color: #007900;
  border-color: #007900;
}

.button--secondary {
  background-color: #DADADA;
}

.button--secondary:hover {
  transition: .3s;
  background-color: #919191;
}

.button--ghost {
  background-color: transparent;
  border: 3px solid #262626;
  color: #262626;
}

.button--ghost:hover {
  transition: .3s;
  background-color: #0d0d0d;
  color: #ffffff;
}