body{
  background-color: #222424;
}

.option__container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  transform: translate(-50%, -50%);
}

a {
  display: block;
  
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px 30px;
  width: 300px;
  background-color: #DADADA;
  color: #000;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
}

a:hover{
  background-color: #616161;
  border: 1px solid #00FF00;
  color: #00FF00;
}